body{
    background-image: repeating-linear-gradient(30deg,red,blue,green,yellow); 

}

table{
border:2px solid red;
width: 100%;
border-collapse: collapse;
}
 #row1col1
{

width: fit-content

}  

img{
   height: 40px;
   width: 100px;
}

label{

   font-size: larger;
   font-weight: bolder;
   color:tomato
}
#div1{
/* float: left; */
height: 600px;
width: 200px;
background-color:burlywood;

}
